server {
  listen   80;
  listen   [::]:80 ipv6only=on;

  root /srv/www;
  index index.html;
  server_name _;

  location /v1/venue/list {
    proxy_pass ${CORE_URL};
  }

  location / {
    try_files $uri /index.html;
  }
}